<h1 mat-dialog-title>Delete Course</h1>
<div mat-dialog-content>

	<div *ngIf="course">

		<div style="margin-bottom: 2rem;">
			Are you sure to eliminate
			<span [delete]="'delete'"
				appDialogs>
				{{course.title}}
			</span>
			?
		</div>

		<div mat-dialog-actions
			style="display: flex;flex-direction: row; justify-content: end;">
			<button (click)="onDelete(course.id)"
				mat-button
				type="submit"
				mat-raised-button
				color="accent">
				Confirm delete
			</button>

			<button mat-button
				mat-raised-button
				color="warn"
				mat-dialog-close>
				Cancel
			</button>
		</div>
	</div>
</div>
