<div
  style="
    margin-top: 10rem;
    padding-inline: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <h1>Welcome to aplication</h1>
  <div>
    <h2 style="color: gray">✨✨✨ 👇 Click 👇 ✨✨✨</h2>
  </div>

  <div class="content_image">
    <a href="/dashboard">
      <img
        width="500"
        src="https://freepngimg.com/save/92393-human-management-business-student-behavior-hq-image-free-png/1500x1500"
        alt=""
      />
    </a>
  </div>
</div>
