<mat-list>
	<mat-list-item>
		<a href>
			<div class="content_item">
				<mat-icon>home</mat-icon>
				<span class="span_item">Home</span>
			</div>
		</a>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<a routerLink="/dashboard/students">
			<div class="content_item">
				<mat-icon>supervisor_account</mat-icon>
				<span class="span_item">Students</span>
			</div>
		</a>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<a routerLink="/dashboard/teachers">
			<div class="content_item">
				<mat-icon>supervisor_account</mat-icon>
				<span class="span_item">Teachers</span>
			</div>
		</a>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<a href="#">
			<div class="content_item">
				<mat-icon>timeline</mat-icon>
				<span class="span_item">Random item</span>
			</div>
		</a>
	</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item>
		<a href="#">
			<div class="content_item">
				<mat-icon>timeline</mat-icon>
				<span class="span_item">Random item</span>
			</div>
		</a>
	</mat-list-item>
</mat-list>
