<h1 mat-dialog-title>Detail student</h1>
<div mat-dialog-content>
	<div style="display: flex; flex-direction: column;">
		<mat-form-field style="min-width: 25rem;">
			<mat-label>Name</mat-label>
			<input [disabled]="true"
				[value]="student.name"
				matInput>
		</mat-form-field>
		<mat-form-field style="min-width: 25rem;">
			<mat-label>Lastname</mat-label>
			<input [disabled]="true"
				[value]="student.lastname"
				matInput>
		</mat-form-field>
		<mat-form-field style="min-width: 25rem;">
			<mat-label>Email</mat-label>
			<input [disabled]="true"
				[value]="student.email"
				matInput>
		</mat-form-field>
		<!-- Inject data -->
		<mat-form-field style="min-width: 25rem;">
			<mat-label>Enabled</mat-label>
			<mat-select [(ngModel)]="student.enabled"
				[disabled]="true">
				<mat-option value="enabled">ENABLED</mat-option>
				<mat-option value="disabled">DISABLED</mat-option>
			</mat-select>
		</mat-form-field>
		<div>
			<!-- courses -->
			<h5>Courses</h5>
			<mat-chip-listbox #chipList
				style="margin-bottom: 2rem;">
				<mat-chip *ngFor="let course of student?.courses"
					[removable]="true"
					(removed)="remove(course.course)">
					{{ course.course.title }}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
			</mat-chip-listbox>
			<!-- !end courses -->
			<div>
				<mat-form-field style="width: 100%;">
					<mat-label>Description</mat-label>
					<input [matAutocomplete]="auto"
						[matAutocomplete]="auto"
						(input)="filterSugestions($event)"
						matInput
						placeholder="Add a course">
				</mat-form-field>
				<mat-autocomplete #auto="matAutocomplete"
					(optionSelected)="selected($event)">
					<mat-option *ngFor="let course of filteredCourses"
						[value]="course.title">
						{{ course.title }}
					</mat-option>
				</mat-autocomplete>
			</div>
		</div>
		<div mat-dialog-actions
			style="display: flex;flex-direction: row; justify-content: end;">
			<button mat-button
				mat-raised-button
				color="warn"
				mat-dialog-close>
				Close
			</button>
		</div>
	</div>
</div>
